س.dashboard {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
}
.navbar {}
@media (max-width: 768px) {
  .dashboard {
    flex-direction: column;
    width: 100%;;
  .column {
  width: 80%;}
   
  }
 
}
.column {
  width: 30%;
  min-height: 400px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  flex: 1;
}

/* الألوان */

.pending {
  background-color: #f2f2f2;
}

.progress {
  background-color: #d6ecff;
}

.completed {
  background-color: #d7f8d7;
}
button {
  padding: 10px 15px;
}
input {
  width: 100%;
  box-sizing: border-box;
}
